*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
.sbox{
	width: 1000px;
	height: 80px;
	margin: auto;
}
.logou{
	width: 260px;
	height: 80px;
	float: left;
}
.logou img{
	width: 180px;
	height: 90px;
}
.dhbox{
	width: 740px;
	height: 80px;
	float: left;
}
.dhbox li{
	margin-top: 30px;
}
.dhbox a{
	margin-right: 52px;
	color: black;
}
.dhbox a:hover{
	color: lightgreen;
}
.spbox{
	position: relative;
	width: 0;
	height: 0;
	border-radius: 10px;
	background-color: lightblue;
	margin: auto;
	border-top: 200px solid gainsboro;
	border-bottom: 200px solid gainsboro;
	border-left: 500px solid transparent;
	border-right: 500px solid transparent;
} 
.spbox p{
	position: absolute;
	right: -50px;
	top: -12px;
	width: 100px;
	height: 40px;
	color: #323232;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
.zpzclrd{
	width: 1000px;
	height: 740px;
	margin: auto;
	background-color: aliceblue;
}
.zbk{
	width: 170px;
	height: 700px;
	background-color: lightskyblue;
	float: left;
}
.zbk .zbks{
	width: 150px;
	height: 700px;
	margin-top: 20px;
}
.zpzclr{
	width: 150px;
	height: 50px;
	background-color: aliceblue;
}
.zpzclrz{
	width: 150px;
	height: 40px;
	background-color: aliceblue;
}
.xk{
	width: 100px;
	height: 45px;
	margin: auto;
	line-height: 60px;
	text-align: center;
	font-weight: 600;
	border-top: 3px solid gainsboro;
}
.xk a{
	color: black;
	font-size: 14px;
}
.zxk{
	width: 100px;
	height: 55px;
	margin: auto;
	line-height: 35px;
	text-align: center;
}
.zxk a{
	color: white;
	font-size: 14px;
}
.ybk{
	width: 830px;
	height: 700px;
	float: left;
	background-color: azure;
}
.ybks{
	width: 830px;
	height: 240px;
}
.ybkz{
	width: 830px;
	height: 240px;
}
.ybkx{
	width: 830px;
	height: 240px;
}
.lbk{
	position: relative;
	width: 0;
	height: 0;
	margin-top: 20px;
	margin-left: 30px;
	background-color: lightblue;
	float: left;
	border-top: 85px solid gainsboro;
	border-bottom: 85px solid gainsboro;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	
}
.lbkb{
	position: absolute;
	top: 60px;
	right: -110px;
	width: 220px;
	height: 50px;
	background-color: lightsteelblue;
}
.lbkz{
	position: relative;
	width: 0;
	height: 0;
	margin-top: 20px;
	margin-left: 30px;
	background-color: lightblue;
	float: left;
	border-top: 85px solid gainsboro;
	border-bottom: 85px solid gainsboro;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	
}
.lbkzx{
	position: absolute;
	top: 60px;
	right: -110px;
	width: 220px;
	height: 50px;
	background-color: lightsteelblue;
}
.lbkx{
	position: relative;
	width: 0;
	height: 0;
	margin-top: 20px;
	margin-left: 30px;
	background-color: lightblue;
	float: left;
	border-top: 85px solid gainsboro;
	border-bottom: 85px solid gainsboro;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	
}
.lbkxx{
	position: absolute;
	top: 60px;
	right: -110px;
	width: 220px;
	height: 50px;
	background-color: lightsteelblue;
}
.weibox{
	width: 1000px;
	height: 200px;
	margin: auto;
	border-top:  3px solid gray;
}
.zwei{
	width: 300px;
	height: 150px;
	float: left;
}
.zweis{
	width: 300px;
	height: 40px;
	margin-top: 40px;
}
.zweis a{
	color: #323232;
	font-size: 13px;
	font-weight: 600;
}
.zweix{
	width: 300px;
	height: 40px;
	margin-top: 30px;
}
.zweix a{
	color: #323232;
	font-size: 13px;
	font-weight: 600;
}
.zjwei{
	width: 400px;
	height: 150px;
	float: left;
}
.zjwei1{
	width: 50px;
	height: 150px;
	float: left;
	margin-left:40px;
	margin-top: 30px;
}
.zjwei1 li{
	width: 60px;
	height: 25px;
}
.zjwei1 a{
	color: #323232;
	font-size: 12px;
	font-weight: 600;
}
.ywei{
	position: relative;
	width: 300px;
	height: 150px;
	float: left;
}
.ywei img{
	position: absolute;
	right: 0;
	top: 0;
	width :200px;
	height: 90px
	
}
.yweis{
	position: absolute;
	right: 0;
	bottom: 40px;
	width:170px;
	height: 20px;
}
.yweis p{
	font-size: 14px;
	color: #323232;
}
.yweix{
	position: absolute;
	right: 0;
	bottom:25px;
	width:150px;
	height: 15px;
}
.yweix p{
	font-size: 10px;
	color: #323232;
}
.mwei{
	position: absolute;
	bottom: -60px;
	right: 0;
	width: 1000px;
	height: 50px;
}
.mwei p{
	color: #323232;
	font-size: 12px;
}